body{
  background-color:sandybrown;
}
.App{
  display: flex;
  justify-content: center;
  
}
h1{
  color: burlywood;
  text-align: center;
  text-decoration-line: underline;
  background-color: antiquewhite;
  margin-top: 50px;
  
}
.image{
  display:flex;
  justify-content: space-around;
  margin: 20px;
}
.video{
  margin: 50px;
  display: flex;
  justify-content: center;

  
}



