body{
  background-color:darkseagreen
}

.App {
  display:grid;
  grid-template-columns: 50% 50%;
  text-align: center;
  width: 100%;


}

.photo{
  margin: 60px;
 
   
}
.name{
  display:inline-flex;
  margin: 50px;
  padding: 50px;
  text-decoration-line:underline;
}
.A{
  display: inline-flex;
  text-decoration-line:underline;
  
}